<h1>IdeaBox</h1>
<form action='/' method='POST'>
  <p>
    Your Idea:
  </p>
  Title: <input type='text' name='idea[title]'/><br/>
  Description: <textarea name='idea[description]'></textarea><br/>
  Tags: <input type="text" name="idea[tags]">
  <input type='submit'/>
</form>



<h3>Existing Ideas</h3>

<ul>
  <% ideas.each do |idea| %>
    <li>
      <%= idea.date %><br />
      <%= idea.title %><br />
      <%= idea.description %><br />
      <%= idea.id %><br />
      Rank: <%= idea.rank %>
      <form action="/<%= idea.id %>/like" method="POST" style="display: inline">
        <input type="submit" value="+">
      </form>
      <form action="/<%= idea.id %>/dislike" method="POST" style="display: inline">
        <input type="submit" value="-">
      </form>
      <a href="/<%= idea.id %>/edit">edit</a>
      <form action="/<%= idea.id %>" method="POST" style="display: inline">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete">
      </form>
      <% unless idea.tags.nil? %>
        <div class="tags">
          Tags: <% idea.tags.split(' ').each do |tag| %>
            <a href="/tag/<%= tag %>"> <%= tag %> </a>
          <% end %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>